<head>
    style
        include ../static/kanban.css
        include ../static/style.css
    title Kanban Board
<body>

    div(class="container")
      a#header(href="/" class="")="Task Management"
      h3(class="")="Register User"    
    div(class="container")
        div(class="kanban-heading")
            strong(class="kanban-heading-text")="Kanban Board"
        div(class="kanban-board")
            div(class="kanban-block" id="todo" ondrop="drop(event)" ondragover="allowDrop(event)")
                strong To Do
                div(class="task-button-block")
                    button(id="task-button" onclick="createTask()")="Create new task"
                div(class="task" id="task1" draggable="true" ondragstart="drag(event)")
                    span Task 1
                div(class="task" id="task2" draggable="true" ondragstart="drag(event)")
                    span Task 2
                div(class="task" id="task3" draggable="true" ondragstart="drag(event)")
                    span Task 3
                div(class="task" id="task4" draggable="true" ondragstart="drag(event)")
                    span Task 4
                div(class="task" id="task5" draggable="true" ondragstart="drag(event)")
                    span Task 5
                div(class="task" id="task6" draggable="true" ondragstart="drag(event)")
                    span Task 6
            div(class="kanban-block" id="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)")
                strong In Progress
            div(class="kanban-block" id="done" ondrop="drop(event)" ondragover="allowDrop(event)")
                strong Done
            div(class="create-new-task-block" id="create-new-task-block")
                strong "New Task"
                span(class="form-row")
                    label(class="form-row-label" for="task-name")="Task"
                    input(class="form-row-input" type="text" name="task-name" id="task-name")
                
                span(class="form-row")
                    label(class="form-row-label" for="task-name")="Description"
                    textarea(class="form-row-input" name="task-description" id="task-description" cols="70" rows="10")
                
                <span class="form-row">
                    label(class="form-row-label" for="task-name")="Status"
                    select(class="form-row-input" name="task-status" id="task-status")
                        option(value="open")="Open"
                        option(value="todo")="To Do"
                        option(value="doing")="Doing"
                        option(value="done")="Done" 
                        option(value="close")="Close" 

                span(class="form-row-buttons")
                    button(id="edit-button" onclick="editTask()")="Edit"
                    button(id="save-button" onclick="saveTask()")="Save"
                    button(id="cancel-button" onclick="createTask()")="Cancel"