html
  head 
    title="Task List"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet")
    style 
      include ../static/style.css
      include ../static/accordion.css

  body 
    div(class="container")
        a#header(href="/" class="pb-2")="Task Management"
        
        div(id="divBox" style="height:50;width:100%;")
            h4(style="float:left;")="Task List"
            div(class="row float-right")
                a#createapp-link(class="" href="/createtask" class="mr-3")="Create Task"
                a#updateapp-link(class="" href="/updatetask" class="mr-3")="Update Task"

        mixin accordion(id, task_id, name, description, notes, task_app_acronym, state, creator, owner, createDate)
            .accordion 
                input.toggle(id=id, type="checkbox")
                label.accordion-header.accordion-toggle(for=id)
                    span(value=task_id)=task_id  
                .accordion-content 
                    .accordion-content-inner 
                        p(value=name)=`Name: ${name}`
                        p(value=description)=`Description: ${description}` 
                        p(value=notes)=`Notes: ${notes}`
                        p(value=task_app_acronym)=`Task App_Acronym: ${task_app_acronym}` 
                        p(value=state)=`State: ${state}` 
                        p(value=creator)=`Creator: ${creator}` 
                        p(value=owner)=`Owner: ${owner}`
                        p(value=createDate)=`Create Date: ${createDate}`  

        if task_array
            each task in task_array
                +accordion("accordion-expandable-"+task.task_id, task.task_id, task.name, task.description, task.notes, task.task_app_acronym, task.state, task.creator, task.owner, task.createDate)


  script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")

  script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous") 